body,html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  /* font-family: 'Space Grotesk', sans-serif; */
  font-size: 3em;
  margin-bottom: -0.125em;
}

h3{
  font-size: 1.3em;
}

p{
  font-size: .9em;
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboard-stats{
  margin: 1em 1em 1em 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  height: 200px;
  vertical-align: top;
}
/* small{
   opacity: 0.6;
} */

.fav-btn{
  position: absolute;
    left: 1em;
    bottom: 1em;
}

.project-title{
  display: inline-block;
    vertical-align: middle;
    width: 49%;
}
.middle_dot{
  font-weight: bolder;
  /* font-size: 25px; */
}

a, span, small, h2, h3, h4, div, button, b{
  font-family: 'Space Grotesk', sans-serif;
}

h1{
  font-family: 'Space Mono', monospace;
}


.filter small{
  font-size: 1em;
}

button{
  /* margin-right: 1em; */
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
    /* vertical-align: top; */
}


.project-body{
  overflow: auto;
  display: grid;
  /* grid-template-columns: 32.5% 32.5% 32.5%; */
  grid-template-columns: 25% 25% 25% 25% 25% 25%;
  /* grid-template-columns: auto auto auto auto; */
  gap: 10px;
  /* background-color: #61dafb; */
  padding-top: 20px;
  /* height: 100vh; */
}

.project-body::-webkit-scrollbar {
  height: 0;
}
.project-body::-webkit-scrollbar-track {
  background: none; 
}

.project-body::-webkit-scrollbar-thumb {
  background: gainsboro; 
  opacity: 0.2;
}

.project-body::-webkit-scrollbar-thumb:hover {
  background: #888; 
  opacity: 1;
}



.project-status{
  background-color: rgba(223, 223, 223, 0.454);
  padding: 15px;
  /* margin: 10px; */
  border-radius: 5px;
  min-height: 100px;
  height: auto;
  /* border: 1px solid #61dafb; */
}

.total-tasks{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 7px 8px;
  opacity: 1;
  vertical-align: top;
}



.dashboard-body{
  padding-top: 20px;
  height: 100vh;
}

.dashboard-cat{
  padding-top: 20px;
}

.project-item-body{
  width: 100%;
  height: 80vh;
  /* color: #605f5f; */
}

.no-projects{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-align: center;
    opacity: 0.5;
    /* height: 100vh; */
}



.version-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.version-content.open {
  max-height: 500px; /* Adjust the value as needed */
}

.project-link{
  position: relative;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  padding: .5em 1em;
  margin: 1em 1em 1em 0;
  width: 21.8%;
  display: inline-block;
  height: 200px;
  transition: all .5s ease-in;
  vertical-align: top;
  text-decoration: none;
}

.project-link p{
  font-size: .8em;
}

.project-link a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.project-link:hover{
  background-color: #282c3439;
  transition: all .5s ease-in;
}

.filters{
  /* background-color: black; */
  /* padding:.5em; */
  /* border: 1px solid black; */
  border-radius: 10px;
  /* vertical-align: bottom; */
  margin-right: 10px;
  display: inline-block;
}

.filters button{
  background: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: black;
  font-family: 'Space Grotesk', sans-serif;
  transition: all .5s ease-in;

  vertical-align: middle;
}

.filters button:hover{
  background-color: black;
  color: white;
  transition: all .5s ease-in;
}

.tasks{
  border: 1px solid white;
  border-radius: 10px;
  padding: 1em;
  margin: 1em auto;
  background-color: white;
  user-select: none;
}

.tasks:hover{
  cursor: pointer;
}

.tag{
  display: inline-block;
  vertical-align: middle;
  /* font-size: .8em; */
  /* cursor: text; */
  /* width: 40%; */
}

.about-task{
  font-size: .8em;
}

.tag-1{
  width: 93%;
}
.tag-2{
  width: 7%;
}

.tag-11{
  width: 60%;
}
.tag-22{
  width: 40%;
}

progress{
  border: none;
  width: 230px;
  height: 5px;
  border-radius: 5px;
  background: crimson;
}

progress {
  color: lightblue;
}

progress::-moz-progress-bar {
  background: lightblue;
}

progress::-webkit-progress-value {
  background: black;
}

progress::-webkit-progress-bar {
  background: lightgray;
}

/* .tag span{
  margin-right: 1em;
  padding: .5em;
  border-radius: 10px;
  background-color: darkorange;
} */

.team-pict{
  position: relative;
  width: 50%;
  max-width: 300px;
}

.team-image{
  display: inline-block;
  border-radius: 50px;
  border: 3px solid white;
  object-fit: cover;
}
  
  hr{
    border: .5px solid lightgrey;
  }

  /* .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0; */
    /* background-color: lightgray; */
    /* backdrop-filter: blur(10px);
    cursor: pointer;
    z-index: 2;
    animation: smooth-appear 1s ease forwards;
  } */
  
  /* .overlay-content{
    width: 30%;
    height: 100%;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  } */
  
.current-team{
    display: inline-block;
    width: 15%;
    height: 80px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 1em 1em 1em;
    margin: 0 1em 0 0 ;
    vertical-align: middle;
}
/* .current-project{
  background-color: pink;
} */

ul.current-project{
  background-color: aqua;
}

ul.current-project li{
  list-style-type: none;
  display: block;
  /* margin-left: 0; */
}

/* ul.current-project{ */
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    /* padding: 0 .5em 1em 1em; */
    /* margin: 0 1em 0 0 ; */
    /* list-style: none; */
/* } */

.current-projects-link{
    text-decoration: none;
    color: black;
    transition: all .5s ease-in;
  }

.notification {
  position: relative;
  width: 98%;
  min-height: 100px;
  border-bottom: 1px solid lightgrey;
  /* margin-top: .5em; */
  padding-bottom:.5em;
  /* background-color: aquamarine; */
}

.notif-span{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  vertical-align: top;
  background-color: orange;
  position: absolute;
  top: 50%;
  right: 2em;
}

.notif-comment{
  padding: 1em 0 1em 1em;
  background-color: rgb(232, 232, 232);
  border-left: 10px solid lightgray;
  width: 100%;
}

.notif{
  display: inline-block;
  vertical-align: middle;
  /* width: 45%; */
  /* background-color: aquamarine; */
}

.notif-btn{
  margin-right: 1em;
    padding: .5em;
    border-radius: 5px;
    color: white;
    font-size: .75em;
    background-color: black;
}

.no-notifs{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 1em;
 text-align: center;
 opacity: 0.5;
}

div.new-project-div{
  /* position: absolute;
  top: -100%;
  left: -50%;
  transform: translate(50%, 50%); */
  margin-top: 1em;
  width: 100%;
}

.new-project-form{
  display:inline-block;
  width: 100%;
  min-height: 250px;
  /* margin-right: 1em; */
  /* min-height:500px; */
  font-family:'Space Grotesk', sans-serif;
}

/* .best-fit{
 padding: 25% 0;
} */

.role-btn{
  opacity: 0.5;
  transition: all .5s ease-in;
}

.role-btn:hover{
  opacity: 1;
  transition: all .5s ease-in;
}

#id_roles{
  /* height: 44px; */
  border: none;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
}

#id_roles::-moz-focus-inner {
  border: 0;
}
#id_roles:focus {
  outline: none;
}
#id_roles option:checked {
  outline: none;
  opacity: 1;
  background-color: #282c34;
}
#id_roles option{
  width: auto;
  /* font-size: 0.8em; */
  font-size: 1em;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 0 0;
  display: inline-block;
  cursor: pointer;
  border:black solid 1px;
  border-radius: 5px;
  /* color: rgb(204, 204, 0); */
}





#id_task_category{
  height: 50px;
  min-height: 50px;
  border: none;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  /* background-color: pink; */
}

#id_task_status{
  height: 50px;
  min-height: 50px;
  border: none;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  /* background-color: pink; */
}

#id_task_category::-moz-focus-inner {
  border: 0;
}
#id_task_category:focus {
  outline: none;
}

#id_task_category option:checked {
  outline: none;
  opacity: 1;
}

#id_task_category option{
  width: auto;
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 0 0;
  display: inline-block;
  cursor: pointer;
  border:black solid 1px;
  border-radius: 5px;
  /* color: rgb(204, 204, 0); */
}


#id_task_status::-moz-focus-inner {
  border: 0;
}
#id_task_status:focus {
  outline: none;
}

#id_task_status option:checked {
  outline: none;
  opacity: 1;
}

#id_task_status option{
  width: auto;
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 0 0;
  display: inline-block;
  cursor: pointer;
  border:black solid 1px;
  border-radius: 5px;
  /* color: rgb(204, 204, 0); */
}

#id_gender{
  /* height: 44px; */
  border: none;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
}

#id_gender::-moz-focus-inner {
  border: 0;
}
#id_gender:focus {
  outline: none;
}
#id_gender option:checked {
  outline: none;
  opacity: 1;
  background-color: #282c34;
}
#id_gender option{
  width: auto;
  /* font-size: 0.8em; */
  font-size: 1em;
  padding: 10px;
  text-align: center;
  margin: 10px 10px 0 0;
  display: inline-block;
  cursor: pointer;
  border:black solid 1px;
  border-radius: 5px;
  /* color: rgb(204, 204, 0); */
}

.task-comment{
  position: relative;
}

.task-comment::after {
  content: '';
  position: absolute;
  background-color: orange;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-left: -0.2em;
}
.notification-badge::before {
  content: '';
  position: absolute;
  background-color: orange;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  margin-left: 0.7em;
}

.comments::-webkit-scrollbar {
  width: 4px;
}
.comments::-webkit-scrollbar-track {
  background: none; 
}

.comments::-webkit-scrollbar-thumb {
  background: gainsboro; 
  opacity: 0.2;
}

.comments::-webkit-scrollbar-thumb:hover {
  background: #888; 
  opacity: 1;
}

.errorMessage {
  background-color: rgba(240, 128, 128, 0.773);
  padding: 1em;
  border: 3px solid lightcoral;
  border-radius: 5px;
  color: white;
}

.errorMessage span {
  opacity: 1 !important;
}